Repository PSW-2020-ORG4/HealthcareSystem: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/cd/event-sourcing-service-delivery.yml, pipelines/cd/notification-service-delivery.yml, pipelines/cd/patient-service-delivery.yml, pipelines/cd/patientwebapp-delivery.yml

pipelines/cd/event-sourcing-service-delivery.yml:
  pool:
    vmImage: ubuntu-18.04
  stages:
  - stage: CI
    jobs:
    - job: Docker
      steps:
      - task: Bash@3
        displayName: Prepare context for Docker
        inputs:
          targetType: inline
  ...

pipelines/cd/notification-service-delivery.yml:
  pool:
    vmImage: ubuntu-18.04
  stages:
  - stage: CI
    jobs:
    - job: Docker
      steps:
      - task: Bash@3
        displayName: Prepare context for Docker
        inputs:
          targetType: inline
  ...

pipelines/cd/patient-service-delivery.yml:
  pool:
    vmImage: ubuntu-18.04
  stages:
  - stage: CI
    jobs:
    - job: Docker
      steps:
      - task: Bash@3
        displayName: Prepare context for Docker
        inputs:
          targetType: inline
  ...

pipelines/cd/patientwebapp-delivery.yml:
  pool:
    vmImage: ubuntu-18.04
  stages:
  - stage: CI
    jobs:
    - job: Docker
      steps:
      - task: Bash@3
        displayName: Prepare context for Docker
        inputs:
          targetType: inline
  ...

refactor[w5.4]:change start date and delete comments
  HealthcareSystem/PatientWebApp/Controllers/ExaminationController.cs
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

test[w5.3]: add integration tests
  HealthcareSystem/PatientServiceTests/IntegrationTests/PatientServiceTests.cs
  HealthcareSystem/PatientServiceTests/PatientServiceTests.csproj
Due: none

fix[w5.4]: fixing scheduling list
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

chore[d82]: added yamls for ci pipelines for ia services
  HealthcareSystem/IAActionBenefitService/Dockerfile
  HealthcareSystem/IADrugService/Dockerfile
  HealthcareSystem/IAPharmacySystemService/Dockerfile
  HealthcareSystem/IATenderService/Dockerfile
  pipelines/action-benefit-service-ci.yml
  pipelines/drug-service-ci.yml
  pipelines/pharmacy-system-service.yml
  pipelines/tender-service-ci.yml
Due: none

fix[w5.4]: small correction
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

feat[g5.4]: Implementing RoomSchedule information
  HealthcareSystem/Backend/Repository/EquipmentTransferRepositoy/IEquipmentTransferRepository.cs
  HealthcareSystem/Backend/Repository/EquipmentTransferRepositoy/MySqlEquipmentTransferRepository/MySqlEquipmentTransferRepostory.cs
  HealthcareSystem/Backend/Repository/RenovationRepository/IRenovationRepository.cs
  HealthcareSystem/Backend/Repository/RenovationRepository/MySqlRenovationRepository/MySqlRenovationRepository.cs
  HealthcareSystem/Backend/Service/RenovationService/IRenovationService.cs
  HealthcareSystem/Backend/Service/RenovationService/RenovationService.cs
  HealthcareSystem/Backend/Service/RoomAndEquipment/EquipmentTransferService.cs
  HealthcareSystem/Backend/Service/RoomAndEquipment/IEquipmentTransferService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/RoomController.cs
  HealthcareSystem/GraphicalEditorServer/DTO/RoomSchedulesDTO.cs
  HealthcareSystem/GraphicalEditorServer/Enumerations/ScheduleType.cs
  HealthcareSystem/GraphicalEditorServer/Mappers/RoomSchedulesMapper.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
Due: pipelines/cd/patient-service-delivery.yml

feat[g5.5,5.2]-canceling renovation equipmentTransfer and examination
  HealthcareSystem/Backend/Model/Manager/Room.cs
  HealthcareSystem/Backend/Repository/EquipmentTransferRepositoy/IEquipmentTransferRepository.cs
  HealthcareSystem/Backend/Repository/EquipmentTransferRepositoy/MySqlEquipmentTransferRepository/MySqlEquipmentTransferRepostory.cs
  HealthcareSystem/Backend/Repository/ExaminationRepository/IExaminationRepository.cs
  HealthcareSystem/Backend/Repository/ExaminationRepository/MySqlExaminationRepository/MySqlExaminationRepository.cs
  HealthcareSystem/Backend/Repository/RenovationRepository/MySqlRenovationRepository/MySqlRenovationRepository.cs
  HealthcareSystem/Backend/Repository/RoomRepository/IRoomRepository.cs
  HealthcareSystem/Backend/Repository/RoomRepository/MySqlRoomRepository/MySqlRoomRepository.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/ExaminationService.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/IExaminationService.cs
  HealthcareSystem/Backend/Service/RenovationService/RenovationService.cs
  HealthcareSystem/Backend/Service/RoomAndEquipment/EquipmentTransferService.cs
  HealthcareSystem/Backend/Service/RoomAndEquipment/IEquipmentTransferService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/AppointmentController.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/EquipmentController.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/RenovationController.cs
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/AppointmentService.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/EquipmentService.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/GenericHTTPService.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/RenovatonService.cs
Due: pipelines/cd/patient-service-delivery.yml

test[g5.5,g5.2] tests added
  HealthcareSystem/Backend/Repository/RoomRepository/MySqlRoomRepository/MySqlRoomRepository.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/FreeAppointmentSearchService.cs
  HealthcareSystem/GraphicalEditorServerTests/DataFactory/StubRepository.cs
  HealthcareSystem/GraphicalEditorServerTests/UnitTest/EquipmentControllerTest.cs
  HealthcareSystem/GraphicalEditorServerTests/UnitTest/ScheduleRenovationTests.cs
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
Due: pipelines/cd/patient-service-delivery.yml

refactor[ia]: tests refactord because of microservices
  HealthcareSystem/IntegrationAdaptersTests/DataFactory/CreatePharmacy.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationAdaptersTests.csproj
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/ActionBenefitControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/ActionBenefitServiceTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DbContextInMemory.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DevelopmentAdapterTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DrugAvailibilityControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DrugProcurementControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/ProductionAdapterTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/TenderControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/ActionBenefitControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/ActionBenefitServiceTest.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/AdapterContextTest.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/ApiRegisterTests.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/EditPharmacyTests.cs
Due: none

gui[w5.4]:fix frontend
  HealthcareSystem/PatientWebApp/wwwroot/js/admin_events_statistic.js
Due: pipelines/cd/patientwebapp-delivery.yml

gui[w5.4]:fix gui
  HealthcareSystem/PatientWebApp/wwwroot/js/admin_events_statistic.js
Due: pipelines/cd/patientwebapp-delivery.yml

test[g5.5,g5.2] tests updated
  HealthcareSystem/GraphicalEditorServerTests/DataFactory/CreateRenovation.cs
  HealthcareSystem/GraphicalEditorServerTests/DataFactory/StubRepository.cs
  HealthcareSystem/GraphicalEditorServerTests/UnitTest/ScheduleRenovationTests.cs
Due: none

fix: fixed data seeding
  HealthcareSystem/Backend/Model/DataSeededDbContext.cs
Due: pipelines/cd/patient-service-delivery.yml

test[g5.5,g5.2] seeder updated
  HealthcareSystem/Backend/Model/DataSeeder.cs
  HealthcareSystem/GraphicalEditorServer/Startup.cs
Due: pipelines/cd/patient-service-delivery.yml

test[g5.5,g5.2] seeder updated
  HealthcareSystem/GraphicalEditorServer/Startup.cs
Due: none

test[g5.5,g5.2] canceling examination
  HealthcareSystem/Backend/Repository/ExaminationRepository/IExaminationRepository.cs
  HealthcareSystem/Backend/Repository/ExaminationRepository/MySqlExaminationRepository/MySqlExaminationRepository.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/ExaminationService.cs
Due: pipelines/cd/patient-service-delivery.yml

test[g5.5,g5.2] canceling examination edited
  HealthcareSystem/Backend/Repository/ExaminationRepository/IExaminationRepository.cs
  HealthcareSystem/Backend/Repository/ExaminationRepository/MySqlExaminationRepository/MySqlExaminationRepository.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/ExaminationService.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/IExaminationService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/AppointmentController.cs
Due: pipelines/cd/patient-service-delivery.yml

test[g5.5,g5.2] tests updated
  HealthcareSystem/GraphicalEditorServerTests/UnitTest/EquipmentServiceTest.cs
  HealthcareSystem/IntegrationAdapters/Properties/launchSettings.json
Due: none

feat[g5.1, g5.2, g5.3]: Scheduling renovations connected with frontend; Finished search for neighboring rooms for room merging
  HealthcareSystemFrontends/GraphicalEditor/Converters/CapitalizeStringConverter.cs
  HealthcareSystemFrontends/GraphicalEditor/Models/MapObjectRelated/MapObjectType.cs
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/MapObjectServices.cs
Due: none

chore[d81]: configure services
  HealthcareSystem/IAActionBenefitService/Settings/ServiceSettings.cs
  HealthcareSystem/IAActionBenefitService/Startup.cs
  HealthcareSystem/IAActionBenefitService/appsettings.Development.json
  HealthcareSystem/IAActionBenefitService/appsettings.json
  HealthcareSystem/IADrugService/Settings/ServiceSettings.cs
  HealthcareSystem/IADrugService/Startup.cs
  HealthcareSystem/IADrugService/appsettings.Development.json
  HealthcareSystem/IADrugService/appsettings.json
  HealthcareSystem/IAPharmacySystemService/MicroserviceComunicator/ActionBenefitService.cs
  HealthcareSystem/IAPharmacySystemService/Settings/ServiceSettings.cs
  HealthcareSystem/IAPharmacySystemService/Startup.cs
  HealthcareSystem/IAPharmacySystemService/appsettings.Development.json
  HealthcareSystem/IAPharmacySystemService/appsettings.json
  HealthcareSystem/IATenderService/Settings/ServiceSettings.cs
  HealthcareSystem/IATenderService/Startup.cs
  HealthcareSystem/IATenderService/appsettings.Development.json
  HealthcareSystem/IATenderService/appsettings.json
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/ActionBenefit/ActionBenefitService.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/Drug/DrugService.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/PharmacySystem/PharmacySystemService.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/Prescription/PrescriptionService.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/Tender/TenderService.cs
  HealthcareSystem/IntegrationAdapters/Settings/ServiceSettings.cs
  HealthcareSystem/IntegrationAdapters/Startup.cs
  HealthcareSystem/IntegrationAdapters/appsettings.Development.json
  HealthcareSystem/IntegrationAdapters/appsettings.json
  compose/local-deployment/docker-compose.localdep.psw.yaml
Due: none

feat[ia]: added mail sending if ActionBenefitMessage is invalid
  HealthcareSystem/Backend/Model/DataSeededDbContext.cs
  HealthcareSystem/Backend/Model/DataSeeder.cs
  HealthcareSystem/Backend/Model/Pharmacies/PharmacySystem.cs
  HealthcareSystem/IAActionBenefitService/Service/ActionBenefitService/RabbitMqActionBenefitService/MailSettings.cs
  HealthcareSystem/IAActionBenefitService/Service/ActionBenefitService/RabbitMqActionBenefitService/RabbitMqActionBenefitService.cs
  HealthcareSystem/IAActionBenefitService/Service/Pharmacies/IPharmacyService.cs
  HealthcareSystem/IAActionBenefitService/Service/Pharmacies/PharmacyService.cs
  HealthcareSystem/IAActionBenefitService/Startup.cs
  HealthcareSystem/IAActionBenefitService/appsettings.json
  HealthcareSystem/IntegrationAdapters/Controllers/PharmacyController.cs
  HealthcareSystem/IntegrationAdapters/Controllers/PrescriptionController.cs
  HealthcareSystem/IntegrationAdapters/Dtos/PharmacySystemDTO.cs
  HealthcareSystem/IntegrationAdapters/Views/DrugSpecifications/DrugList.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Pharmacy/ApiRegister.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Pharmacy/Edit.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Pharmacy/Index.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Tender/Index.cshtml
  HealthcareSystem/IntegrationAdapters/wwwroot/js/CreateDevice.js
Due: pipelines/cd/patient-service-delivery.yml

test[g5.ddd]: Adding tests for ddd
  HealthcareSystem/EventSourcingService/Model/EventDataSeeder.cs
  HealthcareSystem/EventSourcingService/Model/GraphicalEditor/RoomSelectionEvent.cs
  HealthcareSystem/EventSourcingServiceTests/GEIntegrationTests/MapEventsTests.cs
  HealthcareSystemFrontends/GraphicalEditor/Models/MapObjectRelated/Building.cs
  HealthcareSystemFrontends/GraphicalEditor/Models/MapObjectRelated/Room.cs
Due: pipelines/cd/event-sourcing-service-delivery.yml

fix[ia]: error notification fix
  HealthcareSystem/IADrugService/Controllers/DrugServiceController.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/Drug/DrugService.cs
Due: none

chore[d81]: added services to local deployment
  HealthcareSystem/IAActionBenefitService/Dockerfile.local
  HealthcareSystem/IADrugService/Dockerfile.local
  HealthcareSystem/IAPharmacySystemService/Dockerfile.local
  HealthcareSystem/IATenderService/Dockerfile.local
  compose/local-deployment/docker-compose.localdep.psw.yaml
  compose/local-deployment/docker-compose.localdep.yaml
Due: none

chore[d81]: small script change
  healthcaresystem-down.ps1
Due: none

chore: small pipeline fixes
  pipelines/action-benefit-service-ci.yml
  pipelines/drug-service-ci.yml
  pipelines/event-sourcing-service-ci.yml
  pipelines/pharmacy-system-service.yml
  pipelines/tender-service-ci.yml
Due: none

feat[g5.4, g5.5]: Room Schedule and Canceling Actions
  HealthcareSystem/Backend/Repository/RenovationRepository/MySqlRenovationRepository/MySqlRenovationRepository.cs
  HealthcareSystem/GraphicalEditorServer/Mappers/RoomSchedulesMapper.cs
  HealthcareSystemFrontends/GraphicalEditor/DTO/RoomSchedulesDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/Enumerations/ScheduleType.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/ScheduleForRoomDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/ScheduleForRoomDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/RoomService.cs
Due: pipelines/cd/patient-service-delivery.yml

chore[d81]: change isa version for local deployment
  compose/local-deployment/docker-compose.localdep.isa.yaml
  compose/local-deployment/docker-compose.localdep.psw.yaml
Due: none

chore[d74]: deleted classes with 0 references from service
  HealthcareSystem/Backend/Service/NotificationSurveyAndFeedback/NotificationService.cs
  HealthcareSystem/Backend/Service/PlacementInARoomAndRenovationPeriod/PlacementInSickRoomService.cs
  HealthcareSystem/Backend/Service/UsersAndWorkingTime/ManagerService.cs
  HealthcareSystem/Backend/Service/UsersAndWorkingTime/SecretaryService.cs
  HealthcareSystem/Backend/Service/UsersAndWorkingTime/WorkingTimeService.cs
Due: pipelines/cd/patient-service-delivery.yml

fix[ia]: fixed issue with serialization/deserializaton of patients
  HealthcareSystem/IAPharmacySystemService/Controllers/PrescriptionServiceController.cs
  HealthcareSystem/IAPharmacySystemService/DTO/PatientDto.cs
  HealthcareSystem/IntegrationAdapters/Dtos/PatientDto.cs
  HealthcareSystem/IntegrationAdapters/Dtos/PrescriptionView.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/Prescription/IPrescriptionService.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/Prescription/PrescriptionService.cs
Due: none

chore[d74]: deleted classes with 0 references from model
  HealthcareSystem/Backend/Model/DataSeededDbContext.cs
  HealthcareSystem/Backend/Model/Enums/Grade.cs
  HealthcareSystem/Backend/Model/Enums/Languages.cs
  HealthcareSystem/Backend/Model/Manager/TypeOfEquipment.cs
Due: pipelines/cd/patient-service-delivery.yml

fix[d74]: deleted unused enums
  HealthcareSystem/GraphicalEditorServer/DTO/PatientBasicDTO.cs
  HealthcareSystem/GraphicalEditorServerTests/DataFactory/CreateExamination.cs
  HealthcareSystem/GraphicalEditorServerTests/DataFactory/CreatePatientCard.cs
  HealthcareSystem/PatientService/Repository/BackendMapper/BloodTypeMapper.cs
  HealthcareSystem/PatientWebAppTests/CreateObjectsForTests/CreatePatientCard.cs
  HealthcareSystem/PatientWebAppTests/CreateObjectsForTests/CreatePatientDTO.cs
  HealthcareSystem/PatientWebAppTests/CreateObjectsForTests/StubRepository.cs
  HealthcareSystem/PatientWebAppTests/UnitTests/PatientControllerTests.cs
Due: pipelines/cd/patient-service-delivery.yml

fix[ia]: drugProcurementControllerTest fixed
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DrugProcurementControllerTest.cs
Due: none

feat[g5.4, g5.5]: Room Schedule and Canceling Scheduled Actions
  HealthcareSystem/Backend/Repository/EquipmentTransferRepositoy/MySqlEquipmentTransferRepository/MySqlEquipmentTransferRepostory.cs
  HealthcareSystem/GraphicalEditorServer/DTO/RoomSchedulesDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/DTO/RoomSchedulesDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/ScheduleForRoomDialog.xaml.cs
Due: pipelines/cd/patient-service-delivery.yml

chore[d81]: change isa version
  compose/local-deployment/docker-compose.localdep.isa.yaml
Due: none

feat[g5.4, g5.5]: Dialog for displaying more details about Examination from Room Schedule
  HealthcareSystem/GraphicalEditorServer/Controllers/AppointmentController.cs
  HealthcareSystemFrontends/GraphicalEditor/AppointmentInRoomMoreDetailsDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/AppointmentInRoomMoreDetailsDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/ScheduleForRoomDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/ScheduleForRoomDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/AppointmentService.cs
Due: none

chore[d74]: deleted unused classes and interfaces from ActionBenefitService,CityAndCountry and DrugConsumptionService
  HealthcareSystem/Backend/Service/ActionBenefitService/ActionBenefitService.cs
  HealthcareSystem/Backend/Service/CityAndCountry/CityService.cs
  HealthcareSystem/Backend/Service/CityAndCountry/CountryService.cs
  HealthcareSystem/Backend/Service/CityAndCountry/ICityService.cs
  HealthcareSystem/Backend/Service/CityAndCountry/ICountryService.cs
  HealthcareSystem/Backend/Service/DrugConsumptionService/DrugConsumptionService.cs
  HealthcareSystem/Backend/Service/DrugConsumptionService/IDrugConsumptionService.cs
Due: pipelines/cd/patient-service-delivery.yml

Path conditions:
  pipelines/cd/event-sourcing-service-delivery.yml: any of: HealthcareSystem/EventSourcingService
  pipelines/cd/notification-service-delivery.yml: any of: HealthcareSystem/NotificationService
  pipelines/cd/patient-service-delivery.yml: any of: HealthcareSystem/PatientService, HealthcareSystem/Backend
  pipelines/cd/patientwebapp-delivery.yml: any of: HealthcareSystem/PatientWebApp
