Repository PSW-2020-ORG4/HealthcareSystem: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/cd/event-sourcing-service-delivery.yml, pipelines/cd/notification-service-delivery.yml, pipelines/cd/patient-service-delivery.yml, pipelines/cd/patientwebapp-delivery.yml

Path conditions:
  pipelines/cd/event-sourcing-service-delivery.yml: any of: HealthcareSystem/EventSourcingService
  pipelines/cd/notification-service-delivery.yml: any of: HealthcareSystem/NotificationService
  pipelines/cd/patient-service-delivery.yml: any of: HealthcareSystem/PatientService, HealthcareSystem/Backend
  pipelines/cd/patientwebapp-delivery.yml: any of: HealthcareSystem/PatientWebApp

chore[d74]: deleted unused classes and interfaces from DrugAndTherapy,NotificationSurveyAndFeedback,Pharmacies and PlacementInARoomAndRenovation
  HealthcareSystem/Backend/Service/DrugAndTherapy/DrugTypeAndIngridientService.cs
  HealthcareSystem/Backend/Service/DrugAndTherapy/IDrugTypeAndIngridientService.cs
  HealthcareSystem/Backend/Service/DrugAndTherapy/ITherapyService.cs
  HealthcareSystem/Backend/Service/DrugAndTherapy/TherapyService.cs
  HealthcareSystem/Backend/Service/NotificationSurveyAndFeedback/FeedbackService.cs
  HealthcareSystem/Backend/Service/NotificationSurveyAndFeedback/IFeedbackService.cs
  HealthcareSystem/Backend/Service/NotificationSurveyAndFeedback/ISurveyService.cs
  HealthcareSystem/Backend/Service/NotificationSurveyAndFeedback/SurveyService.cs
  HealthcareSystem/Backend/Service/Pharmacies/PharmacyService.cs
  HealthcareSystem/Backend/Service/PlacementInARoomAndRenovationPeriod/IRenovationPeriodService.cs
  HealthcareSystem/Backend/Service/PlacementInARoomAndRenovationPeriod/RenovationPeriodService.cs
  HealthcareSystem/PatientWebAppTests/UnitTests/SurveyControllerTests.cs
Due: pipelines/cd/patient-service-delivery.yml

chore[d74]: deleted unused classes and interfaces from TherapySearch
  HealthcareSystem/Backend/Service/SearchSpecification/TherapySearch/TherapyDoctorSurnameSpecification.cs
  HealthcareSystem/Backend/Service/SearchSpecification/TherapySearch/TherapyDrugNameSpacification.cs
  HealthcareSystem/Backend/Service/SearchSpecification/TherapySearch/TherapyEndDateSpecification.cs
  HealthcareSystem/Backend/Service/SearchSpecification/TherapySearch/TherapySearchDTO.cs
  HealthcareSystem/Backend/Service/SearchSpecification/TherapySearch/TherapyStartDateSpecification.cs
  HealthcareSystem/PatientWebAppTests/CreateObjectsForTests/TestObjectFactory.cs
  HealthcareSystem/PatientWebAppTests/UnitTests/TherapyControllerTests.cs
  HealthcareSystem/PatientWebAppTests/UnitTests/TherapySearchTests.cs
Due: pipelines/cd/patient-service-delivery.yml

chore[d74]: deleted unused classes and interfaces from MailService,Tendering and UsersAndWorkingTime
  HealthcareSystem/Backend/Service/SendingMail/IMailService.cs
  HealthcareSystem/Backend/Service/SendingMail/MailService.cs
  HealthcareSystem/Backend/Service/Tendering/TenderMessageService.cs
  HealthcareSystem/Backend/Service/Tendering/TenderService.cs
  HealthcareSystem/Backend/Service/UsersAndWorkingTime/AdminService.cs
  HealthcareSystem/Backend/Service/UsersAndWorkingTime/IAdminService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/EventSourcingController.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/PatientController.cs
  HealthcareSystem/PatientWebAppTests/UnitTests/PatientControllerTests.cs
Due: pipelines/cd/patient-service-delivery.yml

chore[d74]: deleted unused classes and interfaces from ActionBenefitRepo,CityRepo,CountryRepo,DrugConsumptionRepo,FeedbackRepo,IngridientRepo,PharmacyRepo,SurveyRepo,TenderMessageRepo
  HealthcareSystem/Backend/Repository/ActionBenefitRepository/IActionBenefitRepository.cs
  HealthcareSystem/Backend/Repository/ActionBenefitRepository/MySqlActionBenefitRepository/MySqlActionBenefitRepository.cs
  HealthcareSystem/Backend/Repository/AdminRepository/MySqlAdminRepository/MySqlAdminRepository.cs
  HealthcareSystem/Backend/Repository/CityRepository/ICityRepository.cs
  HealthcareSystem/Backend/Repository/CityRepository/MySqlCityRepository/MySqlCityRepository.cs
  HealthcareSystem/Backend/Repository/CountryRepository/ICountryRepository.cs
  HealthcareSystem/Backend/Repository/CountryRepository/MySqlCountryRepository/MySqlCountryRepository.cs
  HealthcareSystem/Backend/Repository/DrugConsumptionRepository/IDrugConsumptionRepository.cs
  HealthcareSystem/Backend/Repository/DrugConsumptionRepository/MySqlDrugConsumptionRepository/MySqlDrugConsumptionRepository.cs
  HealthcareSystem/Backend/Repository/FeedbackRepository/IFeedbackRepository.cs
  HealthcareSystem/Backend/Repository/FeedbackRepository/MySqlFeedbackRepository/MySqlFeedbackRepository.cs
  HealthcareSystem/Backend/Repository/IngridientRepository/IIngridientRepository.cs
  HealthcareSystem/Backend/Repository/IngridientRepository/MySqlIngridientRepository/MySqlIngridientRepository.cs
  HealthcareSystem/Backend/Repository/PharmacyRepository/IPharmacyRepo.cs
  HealthcareSystem/Backend/Repository/PharmacyRepository/MySqlPharmacyRepo/MySqlPharmacyRepo.cs
  HealthcareSystem/Backend/Repository/SurveyRepository/MySqlSurveyRepository/MySqlSurveyRepository.cs
  HealthcareSystem/Backend/Repository/TenderMessageRepository/ITenderMessageRepository.cs
  HealthcareSystem/Backend/Repository/TenderMessageRepository/MySqlTenderMessageRepository/MySqlTenderMessageRepository.cs
  HealthcareSystem/Backend/Service/DrugAndTherapy/DrugTypeService.cs
Due: pipelines/cd/patient-service-delivery.yml

chore[d74]: deleted unused classes and interfaces from ManagerRepo,NotificationRepo,PlacementInSickRoomRepo,SecretaryRepo,TenderRepo,TherapyRepo,WorkingTimeRepo
  HealthcareSystem/Backend/Repository/ManagerRepository.cs
  HealthcareSystem/Backend/Repository/NotificationRepository.cs
  HealthcareSystem/Backend/Repository/PlacementInSickRoomRepository.cs
  HealthcareSystem/Backend/Repository/SecretaryRepository.cs
  HealthcareSystem/Backend/Repository/TenderRepository/ITenderRepository.cs
  HealthcareSystem/Backend/Repository/TenderRepository/MySqlTenderRepository/MySqlTenderRepository.cs
  HealthcareSystem/Backend/Repository/TherapyRepository/MySqlTherapyRepository/MySqlTherapyRepository.cs
  HealthcareSystem/Backend/Repository/WorkingTimeRepository.cs
Due: pipelines/cd/patient-service-delivery.yml

chore[d74]: deleted unused classes from WelcomeRequest in Model and MailSettings in Settings
  HealthcareSystem/Backend/Model/Users/WelcomeRequest.cs
  HealthcareSystem/Backend/Settings/MailSettings.cs
Due: pipelines/cd/patient-service-delivery.yml

chore: EventSourcingService pipeline fix
  pipelines/event-sourcing-service-ci.yml
Due: none

feat[g5.4, g5.4]: Dialogs For More Details about scheduled actions
  HealthcareSystem/Backend/Repository/EquipmentTransferRepositoy/IEquipmentTransferRepository.cs
  HealthcareSystem/Backend/Repository/EquipmentTransferRepositoy/MySqlEquipmentTransferRepository/MySqlEquipmentTransferRepostory.cs
  HealthcareSystem/Backend/Repository/PatientRepository/IActivePatientRepository.cs
  HealthcareSystem/Backend/Repository/PatientRepository/MySqlPatientRepository/MySqlActivePatientRepository.cs
  HealthcareSystem/Backend/Service/RoomAndEquipment/EquipmentTransferService.cs
  HealthcareSystem/Backend/Service/RoomAndEquipment/IEquipmentTransferService.cs
  HealthcareSystem/Backend/Service/UsersAndWorkingTime/IPatientService.cs
  HealthcareSystem/Backend/Service/UsersAndWorkingTime/PatientService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/EquipmentController.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/EquipmentTypeController.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/PatientController.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/RenovationController.cs
  HealthcareSystem/GraphicalEditorServer/Mappers/BaseRenovationMapper.cs
  HealthcareSystem/GraphicalEditorServer/Mappers/PatientMapper.cs
  HealthcareSystemFrontends/GraphicalEditor/AppointmentInRoomMoreDetailsDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/EquipmentRelocationInRoomMoreDetailsDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/EquipmentRelocationInRoomMoreDetailsDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/RenovationInRoomMoreDetailsDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/RenovationInRoomMoreDetailsDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/ScheduleForRoomDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/EquipmentTypeService.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/PatientService.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/RenovationService.cs
Due: pipelines/cd/patient-service-delivery.yml

gui[g-general]: Invalid DateTime interval check and dialog, hiding datagrids if they are empty
  HealthcareSystemFrontends/GraphicalEditor/Converters/IsRoomTypeToVisibilityConverter.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Models/MapObjectRelated/MockupObjects.cs
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml.cs
Due: none

gui[g-general]: About App Dialog
  HealthcareSystemFrontends/GraphicalEditor/AboutAppDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/AboutAppDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
Due: none

gui[g-general]: Window icons
  HealthcareSystemFrontends/GraphicalEditor/AboutAppDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/CreatePatientGuestAccountDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/EquipmentRelocationSchedulingDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/InfoDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Resources/Images/clinic location wider.ico
  HealthcareSystemFrontends/GraphicalEditor/Resources/Images/clinic location.ico
  HealthcareSystemFrontends/GraphicalEditor/Resources/Images/heartbeat.ico
  HealthcareSystemFrontends/GraphicalEditor/ScheduleForRoomDialog.xaml
Due: none

fix[ia]: test fix
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/ActionBenefitServiceTest.cs
Due: none

refactor: edit format date
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
  HealthcareSystem/PatientWebApp/wwwroot/js/search_documentation.js
Due: pipelines/cd/patientwebapp-delivery.yml

chore: connection string fix for event store
  HealthcareSystem/EventSourcingService/Startup.cs
Due: pipelines/cd/event-sourcing-service-delivery.yml

gui[g-general]: Tried to implement validations to Renovation Scheduling dialog
  HealthcareSystemFrontends/GraphicalEditor/AppointmentInRoomMoreDetailsDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/AppointmentInRoomMoreDetailsDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/EquipmentRelocationInRoomMoreDetailsDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/RenovationInRoomMoreDetailsDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/Validations/FutureDateValidationRule.cs
Due: none

gui[g-general]: Scroll to top after Scheduling Examination
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
Due: none

gui[g-general]: Removed validations from Renovation Scheduling Dialog
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml
Due: none

gui[g-general]: Adding Role Restrictions(commented) and deleting some commented code
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
Due: none

gui[g-general]: Examination more info dialog - Changed method for getting patient by patient card - show guest patients too
  HealthcareSystem/Backend/Repository/PatientRepository/MySqlPatientRepository/MySqlActivePatientRepository.cs
Due: pipelines/cd/patient-service-delivery.yml

test: e2e test issue fixed
  HealthcareSystem/SeleniumTests/Pages/PatientExaminationsPage.cs
Due: none
