Repository PSW-2020-ORG4/HealthcareSystem: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/cd/notification-service-delivery.yml, pipelines/cd/patient-service-delivery.yml, pipelines/cd/patientwebapp-delivery.yml

Path conditions:
  pipelines/cd/notification-service-delivery.yml: any of: HealthcareSystem/NotificationService
  pipelines/cd/patient-service-delivery.yml: any of: HealthcareSystem/PatientService, HealthcareSystem/Backend
  pipelines/cd/patientwebapp-delivery.yml: any of: HealthcareSystem/PatientWebApp

feat[w5.4]: step statistic for return to previous step and closure scheduling
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientEndSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientSchedulingStatisticDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/StepClosureStatisticDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/StepPreviousStatisticDTO.cs
  HealthcareSystem/EventSourcingService/Model/Enum/ClickEvent.cs
  HealthcareSystem/EventSourcingService/Model/Enum/ReasonForEndOfAppointment.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStepSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientStepSchedulingService.cs
Due: none

feat[g5.1-g5.2]:Implemented tests fo scheduling base and complex renovation
  HealthcareSystem/GraphicalEditorServerTests/DataFactory/CreateExamination.cs
  HealthcareSystem/GraphicalEditorServerTests/DataFactory/CreateRenovation.cs
  HealthcareSystem/GraphicalEditorServerTests/DataFactory/StubRepository.cs
  HealthcareSystem/GraphicalEditorServerTests/UnitTest/AppointmentSearchTest.cs
  HealthcareSystem/GraphicalEditorServerTests/UnitTest/ScheduleRenovationTests.cs
Due: none

refactor[ia]: exception handling, multiple pharmacies configuration
  HealthcareSystem/Backend/Model/Pharmacies/PharmacySystem.cs
  HealthcareSystem/Backend/Model/Pharmacies/Tender/Tender.cs
  HealthcareSystem/IntegrationAdapters/Adapters/AdapterContext.cs
  HealthcareSystem/IntegrationAdapters/Adapters/Development/PharmacySystemAdapter_Id1.cs
  HealthcareSystem/IntegrationAdapters/Adapters/PharmacySystemAdapterParameters.cs
  HealthcareSystem/IntegrationAdapters/Controllers/TenderController.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/ActionBenefit/ActionBenefitService.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/Tender/TenderService.cs
  HealthcareSystem/IntegrationAdapters/Properties/launchSettings.json
  HealthcareSystem/IntegrationAdapters/Startup.cs
  HealthcareSystem/IntegrationAdapters/Views/Pharmacy/Edit.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Shared/Error.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Tender/NewTender.cshtml
  HealthcareSystem/IntegrationAdaptersService4/Controllers/TenderServiceController.cs
Due: pipelines/cd/patient-service-delivery.yml

fix[ia]: tender service error message change
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/Tender/TenderService.cs
Due: none

feat[w5.4]:duration of successful and unsuccessful scheduling by age and gender
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/AverageDurationDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientSchedulingStatisticDTO.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStepSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientEndSchedulingService.cs
Due: none

feat[w5.4]:add event on button click
  HealthcareSystem/EventSourcingService/Model/Enum/ClickEvent.cs
  HealthcareSystem/PatientWebApp/Controllers/EventController.cs
  HealthcareSystem/PatientWebApp/DTOs/AddEndSchedulingEventDTO.cs
  HealthcareSystem/PatientWebApp/DTOs/AddStartSchedulingEventDTO.cs
  HealthcareSystem/PatientWebApp/DTOs/AddStepSchedulingEventDTO.cs
  HealthcareSystem/PatientWebApp/wwwroot/html/patient_examinations.html
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

feat[w5.4]:handling exceptions
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStepSchedulingService.cs
Due: none

gui[w5.4]:display statistic on frontend
  HealthcareSystem/PatientWebApp/Controllers/EventController.cs
  HealthcareSystem/PatientWebApp/wwwroot/html/admin_events_statistic.html
  HealthcareSystem/PatientWebApp/wwwroot/js/admin_events_statistic.js
  HealthcareSystem/PatientWebApp/wwwroot/js/navbars/admin.js
Due: pipelines/cd/patientwebapp-delivery.yml

test[w5.4]: add integration tests for event sourcing service
  HealthcareSystem/EventSourcingService/Model/EventDataSeeder.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStepSchedulingService.cs
  HealthcareSystem/EventSourcingServiceTests/EventSourcingServiceTests.csproj
  HealthcareSystem/EventSourcingServiceTests/IntegrationTests/EvenStartSchedulingServiceTests.cs
  HealthcareSystem/EventSourcingServiceTests/IntegrationTests/EventEndSchedulingServiceTests.cs
  HealthcareSystem/EventSourcingServiceTests/IntegrationTests/EventStepSchedulingServiceTests.cs
  HealthcareSystem/HealthcareSystem.sln
Due: none

feat[g5.ddd]: Presetting for connection with database
  HealthcareSystem/EventSourcingService/Service/GraphicalEditor/FloorChangeService.cs
  HealthcareSystem/EventSourcingService/Service/GraphicalEditor/IRoomSelectionService.cs
  HealthcareSystem/EventSourcingService/Startup.cs
  HealthcareSystem/EventSourcingService/appsettings.json
  HealthcareSystem/GraphicalEditorServer/WeatherForecast.cs
Due: none

refactor[w5.4]:tests refactoring
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStepSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientStepSchedulingService.cs
  HealthcareSystem/EventSourcingServiceTests/IntegrationTests/EvenStartSchedulingServiceTests.cs
  HealthcareSystem/EventSourcingServiceTests/IntegrationTests/EventEndSchedulingServiceTests.cs
  HealthcareSystem/EventSourcingServiceTests/IntegrationTests/EventStepSchedulingServiceTests.cs
Due: none

refactor[w5.4]:clean code
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStepSchedulingService.cs
  HealthcareSystem/PatientWebApp/wwwroot/js/admin_events_statistic.js
Due: pipelines/cd/patientwebapp-delivery.yml

fix[ia]: test fix
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/AdapterContextTest.cs
Due: none

chore[d78]: added database reset to the EventService delivery pipeline
  pipelines/cd/event-sourcing-service-delivery.yml
Due: none

chore[d78]: small pipeline fix
  pipelines/cd/event-sourcing-service-delivery.yml
Due: none

chore[d78]: pipeline fix
  pipelines/cd/event-sourcing-service-delivery.yml
Due: none

refactor[ia]: error handling
  HealthcareSystem/IntegrationAdapters/Adapters/Production/PharmacySystemAdapter_Id1.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/ActionBenefit/ActionBenefitService.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/Drug/DrugService.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/PharmacySystem/PharmacySystemService.cs
  HealthcareSystem/IntegrationAdapters/MicroserviceComunicator/Prescription/PrescriptionService.cs
  HealthcareSystem/IntegrationAdapters/Views/Tender/Index.cshtml
Due: none

chore[d76]: chage E2E tests to make host path configurable
  HealthcareSystem/SeleniumTests/AddFeedbackTests.cs
  HealthcareSystem/SeleniumTests/BlockMaliciousPatientTests.cs
  HealthcareSystem/SeleniumTests/CancelExaminationTests .cs
  HealthcareSystem/SeleniumTests/Configuration.cs
  HealthcareSystem/SeleniumTests/Pages/AddFeedbackPage.cs
  HealthcareSystem/SeleniumTests/Pages/BlockMaliciousPatientPage.cs
  HealthcareSystem/SeleniumTests/Pages/LoginPage.cs
  HealthcareSystem/SeleniumTests/Pages/PatientExaminationsPage.cs
  HealthcareSystem/SeleniumTests/Pages/PublishFeedbackPage.cs
  HealthcareSystem/SeleniumTests/PublishFeedbackTests.cs
Due: none

feat[w5.4]: Number of scheduling steps statistic
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientSchedulingStatisticDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/SchedulingStepsStatisticDTO.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStepSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientStepSchedulingService.cs
Due: none

chore[d77]: attempted e2e pipeline fix
  pipelines/cd/e2e-on-heroku.yml
Due: none

chore[d77]: attempted pipeline fix
  pipelines/cd/e2e-on-heroku.yml
Due: none

feat[w5.4]: Number of successful and unsuccessful scheduling statistics
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientSchedulingStatisticDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/SuccessfulAndUnsuccessfulSchedulingDTO.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientEndSchedulingService.cs
Due: none

chore[d77]: change pool for e2e test execution
  pipelines/cd/e2e-on-heroku.yml
Due: none

chore[d77]: changed e2e pipeline to reset database after tests even if they failed
  pipelines/cd/e2e-on-heroku.yml
Due: none

chore[d77]: wait separated into its own stage to make manual runs easier
  pipelines/cd/e2e-on-heroku.yml
Due: none

chore[d77]: use artifacts to avoid generating the sql script twice
  pipelines/cd/e2e-on-heroku.yml
Due: none

feat[w5.4]: number of successful and unsuccessful scheduling statistic, number of steps statistic (front)
  HealthcareSystem/PatientWebApp/wwwroot/js/admin_events_statistic.js
Due: pipelines/cd/patientwebapp-delivery.yml

refactor[w5.4]:url configuration
  HealthcareSystem/PatientWebApp/Controllers/EventController.cs
  HealthcareSystem/PatientWebApp/wwwroot/js/admin_events_statistic.js
Due: pipelines/cd/patientwebapp-delivery.yml

fix[w5.4]: statistic duration average linq
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/PatientWebApp/wwwroot/js/admin_events_statistic.js
Due: pipelines/cd/patientwebapp-delivery.yml

refactor[ia]: moved services and repositories to microservice 1 and 2
  HealthcareSystem/Backend/Communication/RabbitMqConnection/IRabbitMqConnection.cs
  HealthcareSystem/Backend/Communication/RabbitMqConnection/RabbitMqConfiguration.cs
  HealthcareSystem/Backend/Communication/RabbitMqConnection/RabbitMqConnection.cs
  HealthcareSystem/IntegrationAdaptersService1/Controllers/PharmacySystemServiceController.cs
  HealthcareSystem/IntegrationAdaptersService1/Controllers/PrescriptionServiceController.cs
  HealthcareSystem/IntegrationAdaptersService1/Repository/PatientRepository/IActivePatientRepository.cs
  HealthcareSystem/IntegrationAdaptersService1/Repository/PatientRepository/MySqlPatientRepository/MySqlActivePatientRepository.cs
  HealthcareSystem/IntegrationAdaptersService1/Repository/PharmacyRepository/IPharmacyRepo.cs
  HealthcareSystem/IntegrationAdaptersService1/Repository/PharmacyRepository/MySqlPharmacyRepo/MySqlPharmacyRepo.cs
  HealthcareSystem/IntegrationAdaptersService1/Service/Patient/IPatientService.cs
  HealthcareSystem/IntegrationAdaptersService1/Service/Patient/PatientService.cs
  HealthcareSystem/IntegrationAdaptersService1/Service/Pharmacies/IPharmacyService.cs
  HealthcareSystem/IntegrationAdaptersService1/Service/Pharmacies/PharmacyService.cs
  HealthcareSystem/IntegrationAdaptersService1/Startup.cs
  HealthcareSystem/IntegrationAdaptersService2/Controllers/ActionBenefitServiceController.cs
  HealthcareSystem/IntegrationAdaptersService2/Repository/ActionBenefitRepository/IActionBenefitRepository.cs
  HealthcareSystem/IntegrationAdaptersService2/Repository/ActionBenefitRepository/MySqlActionBenefitRepository/MySqlActionBenefitRepository.cs
  HealthcareSystem/IntegrationAdaptersService2/Repository/PharmacyRepository/IPharmacyRepo.cs
  HealthcareSystem/IntegrationAdaptersService2/Repository/PharmacyRepository/MySqlPharmacyRepo/MySqlPharmacyRepo.cs
  HealthcareSystem/IntegrationAdaptersService2/Service/ActionBenefitService/ActionBenefitService.cs
  HealthcareSystem/IntegrationAdaptersService2/Service/ActionBenefitService/IActionBenefitService.cs
  HealthcareSystem/IntegrationAdaptersService2/Service/ActionBenefitService/RabbitMqActionBenefitService/IRabbitMqActionBenefitService.cs
  HealthcareSystem/IntegrationAdaptersService2/Service/ActionBenefitService/RabbitMqActionBenefitService/RabbitMqActionBenefitService.cs
  HealthcareSystem/IntegrationAdaptersService2/Service/Pharmacies/IPharmacyService.cs
  HealthcareSystem/IntegrationAdaptersService2/Service/Pharmacies/PharmacyService.cs
  HealthcareSystem/IntegrationAdaptersService2/Startup.cs
  HealthcareSystem/IntegrationAdaptersService4/Startup.cs
Due: pipelines/cd/patient-service-delivery.yml

conflict resolve
  HealthcareSystem/Backend/Model/DataSeeder.cs
  HealthcareSystem/IntegrationAdapters/Controllers/DrugReportController.cs
  HealthcareSystem/IntegrationAdapters/Startup.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/ActionBenefitControllerTest.cs
Due: pipelines/cd/patient-service-delivery.yml

test[w5.4]: testing statistics
  HealthcareSystem/EventSourcingServiceTests/IntegrationTests/EventEndSchedulingServiceTests.cs
  HealthcareSystem/EventSourcingServiceTests/IntegrationTests/EventStepSchedulingServiceTests.cs
Due: none

feat[g5.ddd]: Connection with event sourcing database
  HealthcareSystem/EventSourcingService/Model/DomainEvent.cs
  HealthcareSystem/EventSourcingService/Model/EventSourcingDbContext.cs
  HealthcareSystem/EventSourcingService/Model/GraphicalEditor/BuildingSelectionEvent.cs
  HealthcareSystem/EventSourcingService/Model/GraphicalEditor/FloorChangeEvent.cs
  HealthcareSystem/EventSourcingService/Model/GraphicalEditor/RoomSelectionEvent.cs
  HealthcareSystem/GraphicalEditorServer/appsettings.json
Due: none

test[g5.1-g5.2]:No more failing tests
  HealthcareSystem/GraphicalEditorServerTests/DataFactory/CreateExamination.cs
  HealthcareSystem/GraphicalEditorServerTests/DataFactory/StubRepository.cs
  HealthcareSystem/GraphicalEditorServerTests/UnitTest/EquipmentServiceTest.cs
  HealthcareSystem/GraphicalEditorServerTests/UnitTest/ScheduleRenovationTests.cs
Due: none

fix[g5.ddd]: Merging from developing changed that caused failed build
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
Due: none

refactor[ia]: moved repos and services to tender and drug microservices
  HealthcareSystem/IntegrationAdaptersService3/Controllers/DrugServiceController.cs
  HealthcareSystem/IntegrationAdaptersService3/Program.cs
  HealthcareSystem/IntegrationAdaptersService3/Repository/IDrugConsumptionRepository.cs
  HealthcareSystem/IntegrationAdaptersService3/Repository/Implementation/MySqlDrugConsumptionRepository.cs
  HealthcareSystem/IntegrationAdaptersService3/Service/DrugConsumptionService.cs
  HealthcareSystem/IntegrationAdaptersService3/Service/IDrugConsumptionService.cs
  HealthcareSystem/IntegrationAdaptersService3/Startup.cs
  HealthcareSystem/IntegrationAdaptersService4/Controllers/TenderDTO.cs
  HealthcareSystem/IntegrationAdaptersService4/Controllers/TenderServiceController.cs
  HealthcareSystem/IntegrationAdaptersService4/Program.cs
  HealthcareSystem/IntegrationAdaptersService4/Repository/ITenderMessageRepository.cs
  HealthcareSystem/IntegrationAdaptersService4/Repository/ITenderRepository.cs
  HealthcareSystem/IntegrationAdaptersService4/Repository/Implementation/MySqlTenderMessageRepository.cs
  HealthcareSystem/IntegrationAdaptersService4/Repository/Implementation/MySqlTenderRepository.cs
  HealthcareSystem/IntegrationAdaptersService4/Service/ITenderMessageService.cs
  HealthcareSystem/IntegrationAdaptersService4/Service/ITenderService.cs
  HealthcareSystem/IntegrationAdaptersService4/Service/RabbitMqTenderingService/IRabbitMqTenderingService.cs
  HealthcareSystem/IntegrationAdaptersService4/Service/RabbitMqTenderingService/RabbitMqTenderingService.cs
  HealthcareSystem/IntegrationAdaptersService4/Service/TenderMessageService.cs
  HealthcareSystem/IntegrationAdaptersService4/Service/TenderService.cs
  HealthcareSystem/IntegrationAdaptersService4/Startup.cs
Due: none

fix[w5.4]: changing end event
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

rafactor[ia]: tests temporarily commented
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/ActionBenefitControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/ActionBenefitServiceTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DbContextInMemory.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DevelopmentAdapterTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DrugAvailibilityControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DrugProcurementControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/ProductionAdapterTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/TenderControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/ActionBenefitControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/ActionBenefitServiceTest.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/AdapterContextTest.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/ApiRegisterTests.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/EditPharmacyTests.cs
Due: none

refactor[w5.4]:change web driver time
  HealthcareSystem/SeleniumTests/Pages/AddFeedbackPage.cs
  HealthcareSystem/SeleniumTests/Pages/LoginPage.cs
Due: none
