Repository PSW-2020-ORG4/HealthcareSystem: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/cd/notification-service-delivery.yml, pipelines/cd/patient-service-delivery.yml, pipelines/cd/patientwebapp-delivery.yml

Path conditions:
  pipelines/cd/notification-service-delivery.yml: any of: HealthcareSystem/NotificationService
  pipelines/cd/patient-service-delivery.yml: any of: HealthcareSystem/PatientService, HealthcareSystem/Backend
  pipelines/cd/patientwebapp-delivery.yml: any of: HealthcareSystem/PatientWebApp

gui[w5.2]:modal dialog for report
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

fix[]:deserialization bug commented
  HealthcareSystem/PatientWebApp/Controllers/ExaminationController.cs
Due: pipelines/cd/patientwebapp-delivery.yml

gui[w5.2]:change gui elemenents
  HealthcareSystem/PatientWebApp/wwwroot/html/patient_examinations.html
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

fix[g5.ddd]: Fixing the build issue caused by duplicate DTOs in the same folder
  HealthcareSystem/EventSourcingService/Controllers/GraphicalEditor/MapObjectSelectionController.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
Due: none

gui[w5.3]:modal dialog for prescriptions
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

gui[g5.1, g5.2, g5.3]: Started implementing scheduling renovations dialog
  HealthcareSystemFrontends/GraphicalEditor/EquipmentRelocationSchedulingDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml.cs
  HealthcareSystemFrontends/ManagerFrontend/Views/LogInView.xaml
Due: none

gui[w5.2,w5.3]:edit names
  HealthcareSystem/PatientWebApp/wwwroot/html/patient_examinations.html
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

gui[w5.1]: div with the buttons is fixed
  HealthcareSystem/PatientWebApp/wwwroot/css/style_index.css
  HealthcareSystem/PatientWebApp/wwwroot/html/index.html
Due: pipelines/cd/patientwebapp-delivery.yml

gui[w5.1]: modified buttons, removed style_index.css
  HealthcareSystem/PatientWebApp/wwwroot/css/style_index.css
  HealthcareSystem/PatientWebApp/wwwroot/html/index.html
Due: pipelines/cd/patientwebapp-delivery.yml

feat[g5.1]:Comunication with front
  HealthcareSystemFrontends/GraphicalEditor/DTO/BaseRenovationDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/DTO/RenovationPeriodDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/Enumerations/TypeOfRenovation.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/RenovatonService.cs
Due: none

feat[g5.1]:Implemented functions for scheduling base renovation
  HealthcareSystem/Backend/Model/Manager/DivideRenovation.cs
  HealthcareSystem/Backend/Model/Manager/MergeRenovation.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/ExaminationService.cs
  HealthcareSystem/Backend/Service/RenovationService/BaseRenovationService.cs
  HealthcareSystem/Backend/Service/RenovationService/IBaseRenovationService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/BaseRenovationController.cs
  HealthcareSystem/GraphicalEditorServer/DTO/BaseRenovationDTO.cs
  HealthcareSystem/GraphicalEditorServer/DTO/RenovationPeriodDTO.cs
  HealthcareSystem/GraphicalEditorServer/Mappers/BaseRenovationMapper.cs
  HealthcareSystem/GraphicalEditorServer/Mappers/RenovationPeriodMapper.cs
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
Due: pipelines/cd/patient-service-delivery.yml

refactor[w5.4]: edit frontend
  HealthcareSystem/PatientWebApp/wwwroot/html/patient_examinations.html
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

feat[g5.2]:scheduling mergeRenovation and alternative appointments
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
Due: none

g[5.1,5.2] get all renovations
  HealthcareSystem/Backend/Repository/RenovationRepository/IRenovationRepository.cs
  HealthcareSystem/Backend/Repository/RenovationRepository/MySqlRenovationRepository/MySqlRenovationRepository.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/ExaminationService.cs
  HealthcareSystem/Backend/Service/RenovationService/IRenovationService.cs
  HealthcareSystem/Backend/Service/RenovationService/RenovationService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/RenovationController.cs
  HealthcareSystem/GraphicalEditorServer/Startup.cs
Due: pipelines/cd/patient-service-delivery.yml

g[5.1,5.2] get all renovations
  HealthcareSystem/Backend/Repository/RenovationRepository/MySqlRenovationRepository/MySqlRenovationRepository.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/RenovationController.cs
Due: pipelines/cd/patient-service-delivery.yml

gui[w5.1]: btn class added
  HealthcareSystem/PatientWebApp/wwwroot/html/index.html
Due: pipelines/cd/patientwebapp-delivery.yml

feat[g5.1-g5.2]:Implemented functions for scheduling complex renovation
  HealthcareSystemFrontends/GraphicalEditor/DTO/DivideRenovationDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/DTO/MergeRenovationDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/RenovatonService.cs
Due: none

gui[g5.1, g5.2, g5.3]: Completed layout of Renovations Dialog; Started implementing logic for finding Neighboring Rooms for Room
  HealthcareSystemFrontends/GraphicalEditor/Controllers/MapObjectController/MapObjectController.cs
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Models/MapObjectRelated/MapObject.cs
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/RenovationSchedulingDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/Interface/IMapObjectServices.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/MapObjectServices.cs
Due: none

feat[g5.1-g5.2]:Implemented functions for scheduling complex renovation
  HealthcareSystem/Backend/Repository/RenovationRepository/IRenovationRepository.cs
  HealthcareSystem/Backend/Repository/RenovationRepository/MySqlRenovationRepository/MySqlRenovationRepository.cs
  HealthcareSystem/Backend/Service/RenovationService/IRenovationService.cs
  HealthcareSystem/Backend/Service/RenovationService/RenovationService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/RenovationController.cs
  HealthcareSystem/GraphicalEditorServer/DTO/DivideRenovationDTO.cs
  HealthcareSystem/GraphicalEditorServer/DTO/MergeRenovationDTO.cs
  HealthcareSystem/GraphicalEditorServer/Mappers/DivideRenovationMapper.cs
  HealthcareSystem/GraphicalEditorServer/Mappers/MergeRenovationMapper.cs
Due: pipelines/cd/patient-service-delivery.yml

feat[g5.ddd]: Adding 3 domain events for GEditor
  HealthcareSystem/EventSourcingService/Controllers/GraphicalEditor/MapController.cs
  HealthcareSystem/EventSourcingService/Controllers/GraphicalEditor/MapObjectSelectionController.cs
  HealthcareSystem/EventSourcingService/Model/GraphicalEditor/BuildingSelectionEvent.cs
  HealthcareSystem/EventSourcingService/Model/GraphicalEditor/FloorChangeEvent.cs
  HealthcareSystem/EventSourcingService/Model/GraphicalEditor/RoomSelectionEvent.cs
  HealthcareSystem/EventSourcingService/Service/GraphicalEditor/BuildingSelectionService.cs
  HealthcareSystem/EventSourcingService/Service/GraphicalEditor/FloorChangeService.cs
  HealthcareSystem/EventSourcingService/Service/GraphicalEditor/IBuildingSelectionService.cs
  HealthcareSystem/EventSourcingService/Service/GraphicalEditor/IFloorChangeService.cs
  HealthcareSystem/EventSourcingService/Service/GraphicalEditor/MapObjectSelectionService.cs
  HealthcareSystem/EventSourcingService/Service/GraphicalEditor/RoomSelectionService.cs
Due: none

feat[g5.ddd]: Event Sourcing on Frontend; Connection with Backend
  HealthcareSystem/GraphicalEditorServer/Controllers/EventSourcingController.cs
  HealthcareSystem/GraphicalEditorServer/DTO/EventSourcingDTO/BuildingSelectionEventDTO.cs
  HealthcareSystem/GraphicalEditorServer/DTO/EventSourcingDTO/FloorChangeEventDTO.cs
  HealthcareSystem/GraphicalEditorServer/DTO/EventSourcingDTO/RoomSelectionEventDTO.cs
  HealthcareSystem/GraphicalEditorServer/Settings/ServiceSettings.cs
  HealthcareSystem/GraphicalEditorServer/Startup.cs
  HealthcareSystem/GraphicalEditorServer/appsettings.json
  HealthcareSystemFrontends/DoctorFrontend/HomePage.xaml
  HealthcareSystemFrontends/DoctorFrontend/HomePage.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/DTO/EventSourcingDTO/BuildingSelectionEventDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/DTO/EventSourcingDTO/FloorChangeEventDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/DTO/EventSourcingDTO/RoomSelectionEventDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Models/MapObjectRelated/Building.cs
  HealthcareSystemFrontends/GraphicalEditor/Models/MapObjectRelated/Room.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/EventSourcingService.cs
  HealthcareSystemFrontends/PatientFrontend/View/HomePageWindow.xaml.cs
  HealthcareSystemFrontends/PatientFrontend/View/MainWindow.xaml.cs
  HealthcareSystemFrontends/SecretaryFrontend/View/MainWindow.xaml.cs
Due: none

feat[w5.4]:modify event sourcing service
  HealthcareSystem/EventSourcingService/Controllers/EventStoreExampleController.cs
  HealthcareSystem/EventSourcingService/DTO/StatisticEventDTO.cs
  HealthcareSystem/EventSourcingService/Mapper/EventMapper.cs
  HealthcareSystem/EventSourcingService/Model/Enum/ClickEvent.cs
  HealthcareSystem/EventSourcingService/Model/Enum/EventStep.cs
  HealthcareSystem/EventSourcingService/Model/Enum/Gender.cs
  HealthcareSystem/EventSourcingService/Model/EventSourcingDbContext.cs
  HealthcareSystem/EventSourcingService/Model/ExampleEvent.cs
  HealthcareSystem/EventSourcingService/Model/StatisticEvent.cs
  HealthcareSystem/EventSourcingService/Service/EventStoreExampleService.cs
  HealthcareSystem/EventSourcingService/Service/IEventStoreExampleService.cs
  HealthcareSystem/EventSourcingService/Startup.cs
Due: none

refactor:change url and asserts
  HealthcareSystem/SeleniumTests/AddFeedbackTests.cs
  HealthcareSystem/SeleniumTests/BlockMaliciousPatientTests.cs
  HealthcareSystem/SeleniumTests/CancelExaminationTests .cs
  HealthcareSystem/SeleniumTests/Pages/AddFeedbackPage.cs
  HealthcareSystem/SeleniumTests/Pages/BlockMaliciousPatient.cs
  HealthcareSystem/SeleniumTests/Pages/LoginPage.cs
  HealthcareSystem/SeleniumTests/Pages/PatientExaminationsPage.cs
  HealthcareSystem/SeleniumTests/Pages/PublishFeedback.cs
  HealthcareSystem/SeleniumTests/PublishFeedbackTests.cs
Due: none

feat[w5.4]:add event controller in patient web app
  HealthcareSystem/EventSourcingService/Controllers/EventController.cs
  HealthcareSystem/PatientWebApp/Controllers/EventController.cs
  HealthcareSystem/PatientWebApp/DTOs/StatisticEventDTO.cs
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

chore[d80]: EventSourcingService added to local deployment
  HealthcareSystem/EventSourcingService/Controllers/ExampleController.cs
  HealthcareSystem/EventSourcingService/Dockerfile.mysql
  HealthcareSystem/EventSourcingService/Dockerfile.postgre
  compose/ges/docker-compose.ges.dev.yaml
  compose/ges/docker-compose.ges.test.yaml
  compose/ges/docker-compose.ges.yaml
  compose/local-deployment/docker-compose.localdep.psw.yaml
  compose/pwa/docker-compose.pwa.dev.yaml
  compose/pwa/docker-compose.pwa.test.yaml
  compose/pwa/docker-compose.pwa.yaml
  ges-up.ps1
  pwa-up.ps1
Due: none

chore[d80]: EventSourcingService url configuration
  HealthcareSystem/PatientWebApp/Settings/ServiceSettings.cs
  HealthcareSystem/PatientWebApp/Startup.cs
  HealthcareSystem/PatientWebApp/appsettings.Development.json
  HealthcareSystem/PatientWebApp/appsettings.json
  compose/ges/docker-compose.ges.yaml
  compose/local-deployment/docker-compose.localdep.psw.yaml
  compose/pwa/docker-compose.pwa.yaml
Due: pipelines/cd/patientwebapp-delivery.yml

chore[d80]: connected GraphicalEditorServer to EventSourcingService
  HealthcareSystem/GraphicalEditorServer/Settings/ServiceSettings.cs
  HealthcareSystem/GraphicalEditorServer/Startup.cs
  HealthcareSystem/GraphicalEditorServer/appsettings.Development.json
  HealthcareSystem/GraphicalEditorServer/appsettings.json
Due: none

chore: fixed launch settings for EventSourcingService
  HealthcareSystem/EventSourcingService/Properties/launchSettings.json
  HealthcareSystem/GraphicalEditorServer/appsettings.Development.json
  HealthcareSystem/GraphicalEditorServer/appsettings.json
  HealthcareSystem/PatientWebApp/appsettings.Development.json
  HealthcareSystem/PatientWebApp/appsettings.json
Due: pipelines/cd/patientwebapp-delivery.yml

feat[g5.1,5.2]:scheduling basic and complex renovation
  HealthcareSystem/Backend/Repository/EquipmentTransferRepositoy/IEquipmentTransferRepository.cs
  HealthcareSystem/Backend/Repository/EquipmentTransferRepositoy/MySqlEquipmentTransferRepository/MySqlEquipmentTransferRepostory.cs
  HealthcareSystem/Backend/Repository/RenovationRepository/IRenovationRepository.cs
  HealthcareSystem/Backend/Repository/RenovationRepository/MySqlRenovationRepository/MySqlRenovationRepository.cs
  HealthcareSystem/Backend/Service/RenovationService/RenovationService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/RenovationController.cs
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
Due: pipelines/cd/patient-service-delivery.yml

feat[w5.4]:patient scheduling events model
  HealthcareSystem/EventSourcingService/Controllers/EventController.cs
  HealthcareSystem/EventSourcingService/Controllers/ExampleController.cs
  HealthcareSystem/EventSourcingService/Controllers/PatientEndSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/Controllers/PatientStartSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/DTO/PatientEndSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientStartSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/Mapper/EventMapper.cs
  HealthcareSystem/EventSourcingService/Mapper/PatientSchedulingEventsMapper.cs
  HealthcareSystem/EventSourcingService/Model/Enum/ClickEvent.cs
  HealthcareSystem/EventSourcingService/Model/EventSourcingDbContext.cs
  HealthcareSystem/EventSourcingService/Model/PatientEndSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Model/PatientSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Model/PatientStartSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Repository/DomainEventRepository.cs
  HealthcareSystem/EventSourcingService/Service/EventStoreExampleService.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/IEventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/IEventStorePatientSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/IEventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Startup.cs
Due: none

feat[w5.4]:change model for patient scheduling events
  HealthcareSystem/EventSourcingService/DTO/PatientEndSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/Mapper/PatientSchedulingEventsMapper.cs
  HealthcareSystem/EventSourcingService/Model/Enum/ReasonForEndOfAppointment.cs
  HealthcareSystem/EventSourcingService/Model/PatientEndSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Model/PatientSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Model/PatientStartSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/appsettings.json
  HealthcareSystem/ScheduleService/Properties/launchSettings.json
Due: none

feat[w5.4]:delete constructors and add setters
  HealthcareSystem/EventSourcingService/Controllers/PatientStartSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/Model/PatientEndSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Model/PatientSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/IEventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Startup.cs
Due: none

feat[w5.4]:change Add method return value
  HealthcareSystem/EventSourcingService/Controllers/PatientStartSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/Repository/DomainEventRepository.cs
  HealthcareSystem/EventSourcingService/Repository/IDomainEventRepository.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/EventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/IEventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/IEventStorePatientSchedulingService.cs
Due: none

fix[w5.4]:fix return value error
  HealthcareSystem/EventSourcingService/Service/IEventStorePatientStartSchedulingService.cs
Due: none

refactor[w5.4]:class packaging
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientEndSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientStartSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/MinAvgMaxStatisticDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientEndSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientStartSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/Model/PatientSchedulingEventModel/PatientEndSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Model/PatientSchedulingEventModel/PatientSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Model/PatientSchedulingEventModel/PatientStartSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IPatientSchedulingStatisticalService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/PatientSchedulingStatisticalService.cs
Due: none

refactor[ia]: DateRange, ActionBenefitMessge and GrpcAdress are now value objects
  HealthcareSystem/Backend/Model/DataSeededDbContext.cs
  HealthcareSystem/Backend/Model/DataSeeder.cs
  HealthcareSystem/Backend/Model/MyDbContext.cs
  HealthcareSystem/Backend/Model/Pharmacies/ActionBenefit/ActionBenefit.cs
  HealthcareSystem/Backend/Model/Pharmacies/ActionBenefit/ActionBenefitMessage.cs
  HealthcareSystem/Backend/Model/Pharmacies/DrugConsuption/DateRange.cs
  HealthcareSystem/Backend/Model/Pharmacies/GrpcAdress.cs
  HealthcareSystem/Backend/Model/Pharmacies/ValueObject.cs
  HealthcareSystem/Backend/Service/ActionBenefitService/ActionBenefitService.cs
  HealthcareSystem/IntegrationAdapters/Controllers/DrugReportController.cs
  HealthcareSystem/IntegrationAdapters/Controllers/PharmacyController.cs
  HealthcareSystem/IntegrationAdapters/Dtos/DateRangeDTO.cs
  HealthcareSystem/IntegrationAdapters/Dtos/PharmacySystemDTO.cs
  HealthcareSystem/IntegrationAdapters/Views/ActionBenefit/Details.cshtml
  HealthcareSystem/IntegrationAdapters/Views/ActionBenefit/Index.cshtml
  HealthcareSystem/IntegrationAdapters/Views/DrugReport/Index.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Pharmacy/ApiRegister.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Pharmacy/Edit.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Pharmacy/Index.cshtml
  HealthcareSystem/IntegrationAdaptersService1/MicroserviceComunicator/ActionBenefitService.cs
  HealthcareSystem/IntegrationAdaptersService3/Controllers/DrugServiceController.cs
  HealthcareSystem/UserService/ActionsBenefits/ActionBenefitRepository.cs
Due: pipelines/cd/patient-service-delivery.yml

feat[w5.4]:implement successful scheduling statistic and refactor code
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientEndSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientStartSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientSchedulingStatisticDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientStepSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/Mapper/PatientSchedulingEventsMapper.cs
  HealthcareSystem/EventSourcingService/Model/EventSourcingDbContext.cs
  HealthcareSystem/EventSourcingService/Model/PatientSchedulingEventModel/PatientStepSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStepSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientStepSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IPatientSchedulingStatisticalService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/PatientSchedulingStatisticalService.cs
  HealthcareSystem/EventSourcingService/Startup.cs
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

refactor[w5.4]:add field to model classes
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientEndSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientStartSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientStepSchedulingEventDTO.cs
  HealthcareSystem/EventSourcingService/Mapper/PatientSchedulingEventsMapper.cs
  HealthcareSystem/EventSourcingService/Model/PatientSchedulingEventModel/PatientEndSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Model/PatientSchedulingEventModel/PatientStartSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Model/PatientSchedulingEventModel/PatientStepSchedulingEvent.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientStepSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientStartSchedulingService.cs
Due: none

feat[w5.4]:successful scheduling gender statistic
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/GenderStatisticDTO.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientSchedulingStatisticDTO.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientStartSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientStepSchedulingService.cs
Due: none

feat[w5.4]:successfull scheduling age statistic
  HealthcareSystem/EventSourcingService/Controllers/PatientSchedulingController/PatientSchedulingEventController.cs
  HealthcareSystem/EventSourcingService/DTO/PatientSchedulingEventDTO/PatientSchedulingStatisticDTO.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/EventStorePatientEndSchedulingService.cs
  HealthcareSystem/EventSourcingService/Service/PatientSchedulingEventService/IEventStorePatientEndSchedulingService.cs
Due: none
