Repository PSW-2020-ORG4/HealthcareSystem: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/cd/patient-service-delivery.yml, pipelines/cd/patientwebapp-delivery.yml

pipelines/cd/patient-service-delivery.yml:
  pool:
    vmImage: ubuntu-18.04
  stages:
  - stage: CI
    jobs:
    - job: Docker
      steps:
      - task: Bash@3
        displayName: Prepare context for Docker
        inputs:
          targetType: inline
  ...

pipelines/cd/patientwebapp-delivery.yml:
  pool:
    vmImage: ubuntu-18.04
  stages:
  - stage: CI
    jobs:
    - job: Docker
      steps:
      - task: Bash@3
        displayName: Prepare context for Docker
        inputs:
          targetType: inline
  ...

fix[w4.3]: added missing endpoint
  HealthcareSystem/PatientWebApp/Controllers/ExaminationController.cs
  HealthcareSystem/ScheduleService/Controllers/ExaminationController.cs
  HealthcareSystem/ScheduleService/Services/ExaminationService.cs
  HealthcareSystem/ScheduleService/Services/IExaminationService.cs
Due: pipelines/cd/patientwebapp-delivery.yml

test: uri in e2e tests fixed
  HealthcareSystem/SeleniumTests/Pages/AddFeedbackPage.cs
  HealthcareSystem/SeleniumTests/Pages/BlockMaliciousPatient.cs
  HealthcareSystem/SeleniumTests/Pages/LoginPage.cs
  HealthcareSystem/SeleniumTests/Pages/PatientExaminationsPage.cs
  HealthcareSystem/SeleniumTests/Pages/PublishFeedback.cs
Due: none

chore: heroku api key changed
  pipelines/cd/e2e-on-heroku.yml
  pipelines/cd/editor-server-delivery.yml
  pipelines/cd/event-sourcing-service-delivery.yml
  pipelines/cd/feedback-survey-service-delivery.yml
  pipelines/cd/notification-service-delivery.yml
  pipelines/cd/patient-service-delivery.yml
  pipelines/cd/patientwebapp-delivery.yml
  pipelines/cd/schedule-service-delivery.yml
  pipelines/cd/user-service-delivery.yml
Due: none

chore: delivery pipeline fix
  pipelines/cd/notification-service-delivery.yml
Due: none

chore: pipeline change reverted because of mistake
  pipelines/cd/notification-service-delivery.yml
Due: none

feat[g4.4, 4.5, 4.6]: Data entry, Scheduling Equipment Relocation i Alternative Appointments for Equipment Relocation connected with backend logic
  HealthcareSystemFrontends/GraphicalEditor/EquipmentRelocationSchedulingDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/EquipmentRelocationSchedulingDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Models/MapObjectRelated/MapObject.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/EquipmentService.cs
Due: none

test: fix urls in e2e tests
  HealthcareSystem/SeleniumTests/Pages/AddFeedbackPage.cs
  HealthcareSystem/SeleniumTests/Pages/LoginPage.cs
Due: none

chore: wpf ci pipeline fix
  pipelines/wpfs.yml
Due: none

chore: wpf ci pipeline fixed
  pipelines/wpfs.yml
Due: none

chore[d71]: local dev env for PatientWebApp
  HealthcareSystem/Backend/Dockerfile.mysql
  HealthcareSystem/Backend/Dockerfile.postgre
  compose/pwa/docker-compose.pwa.dev.yaml
  compose/pwa/docker-compose.pwa.test.yaml
  compose/pwa/docker-compose.pwa.yaml
  pwa-down.ps1
  pwa-up.ps1
Due: pipelines/cd/patient-service-delivery.yml

feat[ia6.1]: creating new tender, chosing offer, automatic tender participants notification
  HealthcareSystem/Backend/Model/MyDbContext.cs
  HealthcareSystem/Backend/Model/Pharmacies/Tender/Tender.cs
  HealthcareSystem/Backend/Model/Pharmacies/Tender/TenderMessage.cs
  HealthcareSystem/Backend/Repository/TenderMessageRepository/ITenderMessageRepository.cs
  HealthcareSystem/Backend/Repository/TenderMessageRepository/MySqlTenderMessageRepository/MySqlTenderMessageRepository.cs
  HealthcareSystem/Backend/Repository/TenderRepository/ITenderRepository.cs
  HealthcareSystem/Backend/Repository/TenderRepository/MySqlTenderRepository/MySqlTenderRepository.cs
  HealthcareSystem/Backend/Service/Tendering/ITenderMessageService.cs
  HealthcareSystem/Backend/Service/Tendering/ITenderService.cs
  HealthcareSystem/Backend/Service/Tendering/RabbitMqTenderingService/IRabbitMqTenderingService.cs
  HealthcareSystem/Backend/Service/Tendering/RabbitMqTenderingService/RabbitMqTenderingService.cs
  HealthcareSystem/Backend/Service/Tendering/TenderMessageService.cs
  HealthcareSystem/Backend/Service/Tendering/TenderService.cs
  HealthcareSystem/IntegrationAdapters/Controllers/TenderController.cs
  HealthcareSystem/IntegrationAdapters/Dtos/NewTenderView.cs
  HealthcareSystem/IntegrationAdapters/Startup.cs
  HealthcareSystem/IntegrationAdapters/Views/Tender/Index.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Tender/NewTender.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Tender/Offer.cshtml
  HealthcareSystem/IntegrationAdapters/Views/Tender/Offers.cshtml
Due: pipelines/cd/patient-service-delivery.yml

feat[ia6.1]: option for closing tender, date check on message receive
  HealthcareSystem/Backend/Service/Tendering/RabbitMqTenderingService/RabbitMqTenderingService.cs
  HealthcareSystem/IntegrationAdapters/Controllers/TenderController.cs
  HealthcareSystem/IntegrationAdapters/Views/Tender/Index.cshtml
Due: pipelines/cd/patient-service-delivery.yml

refactor[ia]: actionbenefit rabbitmq refactor again, fixed test that broke
  HealthcareSystem/Backend/Service/ActionBenefitService/RabbitMqActionBenefitService/ActionBenefitSubscriptionService.cs
  HealthcareSystem/Backend/Service/ActionBenefitService/RabbitMqActionBenefitService/IRabbitMqActionBenefitService.cs
  HealthcareSystem/Backend/Service/ActionBenefitService/RabbitMqActionBenefitService/RabbitMqActionBenefitService.cs
  HealthcareSystem/IntegrationAdapters/Controllers/PharmacyController.cs
  HealthcareSystem/IntegrationAdapters/Startup.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/ApiRegisterTests.cs
  HealthcareSystem/IntegrationAdaptersTests/UnitTests/EditPharmacyTests.cs
Due: pipelines/cd/patient-service-delivery.yml

refactor[ia]: removed unused actionbenefit service
  HealthcareSystem/Backend/Service/ActionBenefitService/RabbitMqActionBenefitService/ActionBenefitSubscriptionService.cs
Due: pipelines/cd/patient-service-delivery.yml

feat[g3.1-g4.5-g4.6]:Added checks for scheduled equipmentTransfers
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/FreeAppointmentSearchService.cs
  HealthcareSystem/Backend/Service/RoomAndEquipment/EquipmentService.cs
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
Due: pipelines/cd/patient-service-delivery.yml

refactor[]:fix errors
  HealthcareSystem/PatientWebApp/Controllers/ExaminationController.cs
  HealthcareSystem/PatientWebApp/DTOs/ScheduledExaminationDTO.cs
  HealthcareSystem/ScheduleService/Repository/Implementation/ExaminationRepository.cs
Due: pipelines/cd/patientwebapp-delivery.yml

chore[d71]: launch script for GraphicalEditorServer
  HealthcareSystem/GraphicalEditorServer/Dockerfile.local
  README.md
  compose/ges/docker-compose.ges.dev.yaml
  compose/ges/docker-compose.ges.test.yaml
  compose/ges/docker-compose.ges.yaml
  ges-down.ps1
  ges-up.ps1
Due: none

chore[d62]: local deployment without isa
  HealthcareSystem/Backend/Model/DataSeededDbContext.cs
  HealthcareSystem/Dockerfile.graphical-editorserver
  HealthcareSystem/Dockerfile.integration-adapters
  HealthcareSystem/Dockerfile.patient-webapp
  HealthcareSystem/GraphicalEditorServer/Startup.cs
  HealthcareSystem/IntegrationAdapters/Adapters/Test/PharmacySystemAdapter_Id1.cs
  HealthcareSystem/IntegrationAdapters/Controllers/DrugReportController.cs
  HealthcareSystem/IntegrationAdapters/Dockerfile.local
  HealthcareSystem/IntegrationAdapters/Startup.cs
  HealthcareSystem/IntegrationAdapters/appsettings.json
  compose/docker-compose.localdep.yaml
  docker-compose.dev.yaml
  docker-compose.test.yaml
  docker-compose.yaml
  healthcaresystem-down.ps1
  healthcaresystem-up.ps1
Due: pipelines/cd/patient-service-delivery.yml

chore[d62]: added compose for testing isa deployment
  HealthcareSystem/IntegrationAdapters/Startup.cs
  compose/docker-compose.isa.yaml
  compose/docker-compose.localdep.yaml
  ges-up.ps1
  healthcaresystem-up.ps1
  pwa-up.ps1
Due: none

feat[g4.2-g4.3]: Emergency appointments and appointment analysisconnected with frontend
  HealthcareSystem/Backend/Repository/ExaminationRepository/IExaminationRepository.cs
  HealthcareSystem/Backend/Repository/ExaminationRepository/MySqlExaminationRepository/MySqlExaminationRepository.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/ExaminationService.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/FreeAppointmentSearchService.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/IExaminationService.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/IFreeAppointmentSearchService.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/IScheduleAppointmenService.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/ScheduleAppointmentService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/AppointmentController.cs
  HealthcareSystem/GraphicalEditorServer/DTO/RescheduleExaminationDTO.cs
  HealthcareSystem/GraphicalEditorServer/Startup.cs
  HealthcareSystemFrontends/GraphicalEditor/DTO/EmergencyExaminationDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/DTO/EmergencyExaminationsDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/DTO/RescheduleExaminationDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/AppointmentService.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/PatientService.cs
Due: pipelines/cd/patient-service-delivery.yml

chore[d62]: connected compose files for isa and psw
  HealthcareSystem/IntegrationAdapters/Startup.cs
  compose/local-deployment/docker-compose.localdep.isa.yaml
  compose/local-deployment/docker-compose.localdep.psw.yaml
  compose/local-deployment/docker-compose.localdep.yaml
  healthcaresystem-down.ps1
  healthcaresystem-up.ps1
Due: none

chore[d62]: moved initial local deployment pipeline yaml to this branch
  pipelines/localdeployment.yml
Due: none

feat[g4.1, g4.2, g4.3]: Patient Registration; Emergency Appointments Scheduling and Analysis connected frontend with backend
  HealthcareSystem/Backend/Repository/ExaminationRepository/MySqlExaminationRepository/MySqlExaminationRepository.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/Adapter/RequestAdapter.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/PatientController.cs
  HealthcareSystem/GraphicalEditorServer/DTO/GuestPatientDTO.cs
  HealthcareSystem/GraphicalEditorServer/DTO/RescheduleExaminationDTO.cs
  HealthcareSystem/GraphicalEditorServer/GraphicalEditorServer.csproj
  HealthcareSystem/GraphicalEditorServer/Settings/ServiceSettings.cs
  HealthcareSystem/GraphicalEditorServer/Startup.cs
  HealthcareSystem/GraphicalEditorServer/appsettings.json
  HealthcareSystemFrontends/GraphicalEditor/CreatePatientGuestAccountDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/CreatePatientGuestAccountDialog.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/DTO/GuestPatientDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/Service/PatientService.cs
Due: pipelines/cd/patient-service-delivery.yml

test[ia2]: tests for adapters
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/ActionBenefitControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/ActionBenefitServiceTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DbContextInMemory.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DevelopmentAdapterTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DrugAvailibilityControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DrugProcurementControllerTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/ProductionAdapterTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/TenderControllerTest.cs
Due: none

fix[ia]: test fix
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/DevelopmentAdapterTest.cs
  HealthcareSystem/IntegrationAdaptersTests/IntegrationTests/ProductionAdapterTest.cs
Due: none

refactor[g4.2-g4.3]: Small refactoring done to AppointmentController and SearchService regarding getting new time
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/FreeAppointmentSearchService.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/IFreeAppointmentSearchService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/AppointmentController.cs
  HealthcareSystem/GraphicalEditorServerTests/IntegrationTests/FreeAppointmentSearchServiceTest.cs
Due: pipelines/cd/patient-service-delivery.yml

feat[g4.1, g4.2, g4.3]: Changed Examination Time Format Print in XAML tables
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
Due: none

refactor[g4.2-g4.3]: Deleted unused class
  HealthcareSystemFrontends/GraphicalEditor/DTO/EmergencyExaminationsDTO.cs
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
Due: none

feat[w5.2,w5.3]:connect therapy and examination in PatientService
  HealthcareSystem/PatientService/Controller/PatientController.cs
  HealthcareSystem/PatientService/DTO/TherapyDTO.cs
  HealthcareSystem/PatientService/Mapper/TherapyMapper.cs
  HealthcareSystem/PatientService/Model/Memento/TherapyMemento.cs
  HealthcareSystem/PatientService/Model/Therapy.cs
  HealthcareSystem/PatientService/Repository/PatientRepository.cs
  HealthcareSystem/PatientService/Service/IPatientService.cs
  HealthcareSystem/PatientService/Service/PatientService.cs
  HealthcareSystem/PatientServiceTests/UnitTests/TherapySpecificationTests.cs
Due: pipelines/cd/patient-service-delivery.yml

feat[w5.2]:add method for getting one patient's examination
  HealthcareSystem/PatientService/Controller/PatientController.cs
  HealthcareSystem/PatientService/Service/IPatientService.cs
  HealthcareSystem/PatientService/Service/PatientService.cs
Due: pipelines/cd/patient-service-delivery.yml

feat[w5.2,w5.3]:connect controllers
  HealthcareSystem/PatientWebApp/Controllers/PatientController.cs
Due: pipelines/cd/patientwebapp-delivery.yml

refactor[w5.4]: add steps in scheduling
  HealthcareSystem/PatientWebApp/wwwroot/html/patient_examinations.html
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

feat[g5.4, g5.5]: Frontend for Room Schedule and Canceling Actions
  HealthcareSystemFrontends/GraphicalEditor/GraphicalEditor.csproj
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml
  HealthcareSystemFrontends/GraphicalEditor/MainWindow.xaml.cs
  HealthcareSystemFrontends/GraphicalEditor/ScheduleForRoomDialog.xaml
  HealthcareSystemFrontends/GraphicalEditor/ScheduleForRoomDialog.xaml.cs
Due: none

feat[w5.2,w5.3]: frontent
  HealthcareSystem/PatientWebApp/wwwroot/html/patient_examinations.html
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patientwebapp-delivery.yml

gui[w5.1]: changed index html page
  HealthcareSystem/PatientWebApp/wwwroot/css/style_index.css
  HealthcareSystem/PatientWebApp/wwwroot/html/index.html
  HealthcareSystem/PatientWebApp/wwwroot/images/1index.jpg
Due: pipelines/cd/patientwebapp-delivery.yml

feat[g5.ddd]: Adding MapObjectSelectionEvent to event sourcing service
  HealthcareSystem/EventSourcingService/Controllers/GraphicalEditor/MapObjectSelectionController.cs
  HealthcareSystem/EventSourcingService/EventSourcingService.csproj
  HealthcareSystem/EventSourcingService/Model/GraphicalEditor/MapObjectSelectionEvent.cs
  HealthcareSystem/EventSourcingService/Service/GraphicalEditor/IMapObjectSelectionService.cs
  HealthcareSystem/EventSourcingService/Service/GraphicalEditor/MapObjectSelectionService.cs
Due: none

chore: change port for PatientWebApp
  compose/pwa/docker-compose.pwa.yaml
  pwa-up.ps1
Due: none

feat[g5.1]- schedule basic renovation
  HealthcareSystem/Backend/Model/Enums/TypeOfRenovation.cs
  HealthcareSystem/Backend/Model/Manager/BaseRenovation.cs
  HealthcareSystem/Backend/Model/Manager/DivideRenovation.cs
  HealthcareSystem/Backend/Model/Manager/MergeRenovation.cs
  HealthcareSystem/Backend/Model/Manager/RenovationPeriod.cs
  HealthcareSystem/Backend/Model/MyDbContext.cs
  HealthcareSystem/Backend/Repository/RenovationRepository/IBaseRenovationRepository.cs
  HealthcareSystem/Backend/Repository/RenovationRepository/MySqlRenovationRepository/MySqlBaseRenovationRepository.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/ExaminationService.cs
  HealthcareSystem/Backend/Service/ExaminationAndPatientCard/IExaminationService.cs
  HealthcareSystem/Backend/Service/PlacementInARoomAndRenovationPeriod/RenovationPeriodService.cs
  HealthcareSystem/Backend/Service/RenovationService/BaseRenovationService.cs
  HealthcareSystem/Backend/Service/RenovationService/IBaseRenovationService.cs
  HealthcareSystem/Backend/Service/RoomAndEquipment/EquipmentService.cs
  HealthcareSystem/GraphicalEditorServer/Controllers/BaseRenovationController.cs
  HealthcareSystem/GraphicalEditorServer/Startup.cs
Due: pipelines/cd/patient-service-delivery.yml

refactor[w5.2,w5.3]:refactor PatientService
  HealthcareSystem/PatientService/Model/Patient.cs
  HealthcareSystem/PatientService/Service/PatientService.cs
  HealthcareSystem/PatientWebApp/Controllers/ExaminationController.cs
  HealthcareSystem/PatientWebApp/Controllers/PatientController.cs
  HealthcareSystem/PatientWebApp/wwwroot/html/patient_examinations.html
  HealthcareSystem/PatientWebApp/wwwroot/js/patient_examinations.js
Due: pipelines/cd/patient-service-delivery.yml, pipelines/cd/patientwebapp-delivery.yml

Path conditions:
  pipelines/cd/patient-service-delivery.yml: any of: HealthcareSystem/PatientService, HealthcareSystem/Backend
  pipelines/cd/patientwebapp-delivery.yml: any of: HealthcareSystem/PatientWebApp
